<!DOCTYPE html>
<html>
{{> head}}
<body>
<form>
    <input name="greeting" value="{{greeting}}">
    <p>{{greeting}}, World</p>
    <a href="/?greeting=">Clear</a>
    <input type="submit" class="btn btn-success" value="Send">
</form>
</body>
</html>